.list {
  line-height: 24px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.list-title {
  margin-bottom: 0;
  line-height: 24px;
}
.list-title-color {
  color: #a5adb8;
}
.list-description {
  margin-bottom: 13px;
}
.list-text-small {
  font-size: 12px;
}

.list-ordered {
  list-style: decimal;
  padding-left: 15px;
}
.list-circle > li::before {
  content: "";
  display: inline-table;
  margin-right: 8px;
  width: 5px;
  height: 5px;
  background-color: #5c646e;
  border-radius: 50%;
  vertical-align: middle;
}

.list-circle-cherry > li::before {
  background-color: #ff1744;
}
.list-padding-left {
  padding-left: 10px;
}
